<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Light Switching</title>
</head>
<body>
    <div class="container">
        <div class="segments">
            <div><img src="../img/p1.png" id="myLight"></div>
            <button onClick="document.getElementById('myLight').src='../img/p2.png'">Say Hi</button>
            <button onClick="document.getElementById('myLight').src='../img/p1.png'">Keep Going</button>
            <button onClick="document.getElementById('myLight').src='../img/p3.png'">Get Angry</button>
            <button onClick="document.getElementById('myLight').src='../img/p4.png'">Run</button>
            <button onClick="document.getElementById('myLight').src='../img/p5.png'">Cry</button>
        </div>
    </div>
</body>
</html>